{% extends 'index.html' %}

{% block titile %}
    signup
{% endblock %}

{% block content %}

<div class="container">
    <div class="card new-task-form">
        <h2>Sign Up</h2>
            <form method="POST">
                <div class="form-group">
                    <label for="taskTitle" class="sr-only">Username</label>
                    <input name="username" type="text" id="taskTitle" placeholder="Username" required>
                </div>

                <div class="form-group">
                    <label for="taskDescription" class="sr-only">Password</label>
                    <input name="password" type="text" id="taskDescription" placeholder="Password" required>
                </div>

                <div class="form-actions">
                    <button type="submit" class="btn-primary">SUBMIT</button>
                </div>
            </form>
    </div>
</div>




{% endblock %}

