{% extends 'index.html' %}

{% block titile %}
    signup
{% endblock %}

{% block htitle %}
    <header class="header">
        Sign up
    </header>
{% endblock %}

{% block content %}

<p>Entery you data to have acces to the app.</p>

<form method="POST">
    <label>Name</label>
    <input name="username" placeholder="Username" required/>
    <label>Password</label>
    <input name="password" placeholder="Password" required/>
    <input value="Submit" type="submit"/>
</form>



{% endblock %}

