<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titile%}{% endblock %}</title>
    <link rel='stylesheet' href="{{ url_for('static', filename='index.css') }}"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="navbar">
        <nav>
            <ul class="nav-links">
                <li><a href="{{ url_for('todo.index') }}" class="active">HOME</a></li>
                <li><a href="{{ url_for('todo.login') }}">LOG IN</a></li>
                <li><a href="{{ url_for('todo.signup') }}">SIGN UP</a></li>
            </ul>
        </nav>
    </header>

    {% block content %}{% endblock %}
</body>

</html>


